
@import '@fontsource/press-start-2p';
.App{
  min-height: 100vh;
  display:flex;
  flex-direction: column;

}
.footer{
  margin-top: auto !important;
  margin-right: 0.5% !important;
  margin-left: 0.5% !important;
  margin-bottom: 0.5% !important;
}
  .table button {
    width: auto; 
    padding: 4px 8px;
    padding-top: 5px; 
    font-size: 12px;
    vertical-align: middle !important;
    text-align: center;
  }
  td {
    vertical-align: middle !important;
    text-align: center;
  }

  
  h1 {
    padding: 2%;  }
  #FilterID {
    padding: 5%;
  }
  table{
    align-content: middle !important;
  justify-content: center;  
  align-items: center;   
  }

  h2 {
    padding: 2%;
  }
  #ImageGrid{
    object-fit: cover; 
  }
  #GridDiv{
    padding: 5%;
    height: 320px;
  }
  #ImageDiv{
    height: 100px;
  }

  .image-item {
    width: 100%;
    height: 200px; 
    overflow: hidden; 
    position: relative; 
    
  }
  
  .image-item img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    object-position: center;
    padding: 2%; 
  }
  #Title{
    height:50px;
    padding: 2%;
  }
  #Balls{
    padding: 2%;
  }
#FormDiv{
  padding: 2%;
}
.center-table {
  width: 80%;            
  margin: 0 auto;        
}
section{
  padding:0.3%;
}
.delete-button{
  margin-left: 19.5% !important;
}
.padding{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 17%;
  padding-right: 17%;
}
